.works
  %ul#container.clearfix

    - @works.each do |work|
      %li.box.bwWrapper
        %figure
          %a{href: 'work.html'}
            = image_tag(work.main_image, alt: work.short_description)
          %figcaption
            %div{class:"work-short-desc color-#{rand(1..4)}"}
              %p
                = link_to work.name, work_path(work.slug)
              = link_to(work.url, work.url, class: 'link')

.clearfix

%script{'type'=> 'text/javascript'}
  :plain
    $(document).ready(function() {
        $('#container').center();
        $(window).resize(function() {
            $('#container').center();
        });
        $('.work-short-desc').animate({backgroundColor: 'blue' }, "slow");
        var $container = $('#container');
        $container.imagesLoaded( function(){
            $container.masonry({
                itemSelector : '.box',
                isAnimated: true
            });
        });
    });
    $(window).load(function(){
        $('.bwWrapper').BlackAndWhite({
            hoverEffect : true,
            // set the path to BnWWorker.js for a superfast implementation
            webworkerPath : false,
            // for the images with a fluid width and height
            responsive:true
        });
    });