.work-background
	.container
		.work
			%h2
				=@work.name
				= link_to '← back', works_path, class: 'link'
			= link_to @work.url, @work.full_url
			-unless @work.tag.empty?
				%p=@work.tag
			.description
				%p
					=@work.description
			.screenshots
				- @work.pictures.each do |picture|
					%img{src: picture.image.url, alt: picture.title}
	.container
	/ .advertising
	/ 	.booklet
	/ 		%img{src: 'images/work-3.png', alt: 'Work'}
	/ 	.city-light
	/ 		%img{src: 'images/work-4.png', alt: 'Work'}
