header{
  .header{
   margin-top: 5px;
   .left-side{
     @include column(8, true);
     .slogan{
      display: none;
    }
    .lang-list{
      ul{
        margin-left: 5px;
        li{
         a{
           font-size: 12px;
         }
         a.ua{
           margin-left: 5px;
         }
       }
     }
   }
   .menu{
    ul{
      margin: 20px 0 0 5px;
      li{
       margin: 0 25px 0 0;
       a{
         font-size: 15px;
       }
     }
   }
 }
}
.logo{
 @include column(4);
 @include prepend(2);
 margin-top: 20px;
 a{
  img{
    height: 150px;
    width: 150px;
    float: left;
  }
}
}
}
}