.container
  .top-txt
    %h2 Contact us:
    %p Webmil is always open to cooperation. We strive to create new startups and projects you need to be done, bringing in something fresh and interesting all the way. We are thirsty for new people who are able to combine clear and logical thinking with bursting creativeness and unfolded imagination. Are you sure you satisfy these requirements, we will be happy to complete our team with another programming-lover.
  .left-address
    .address{itemscope: true,  itemtype: "http://schema.org/Organization"}
      %meta{itemprop: "name", content: "CANaction"}
        %address{itemscope: true, itemprop: "address" ,itemtype: "http://schema.org/PostalAddress"}
          %h2.adress Address:
          .locality{itemprop: "addressLocality"}
            %p 76000 Ukraine
            %p Ivano-Frankivs&#8217;k
          .street{itemprop: "streetAddress"}
            %p Sichovyh Strilciv Street, 31
          %h2.phone Phone:
          .tel
            %p{itemprop: "telephone"} +38 0342 735 448
            %p{itemprop: "telephone"} +38 094 922 8448
            %p{itemprop: "telephone"} +38 063 757 0020
          %h2.on-line On-line:
          .skype
            %p
              skype:
              %span webmil.ltd
          .mail
            %p
              e-mail:
              %span{itemprop: "email"} info@webmil.com.ua
  .right-address
    %h2 How to get:
    #map


%script{'type'=> 'text/javascript'}
  :plain
    //google map
    var init = function(){
        var myOptions = {
            zoom: 15,
            streetViewControl: false ,
            mapTypeId: google.maps.MapTypeId.ROADMAP};
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
            var pinkParksStyles = [
                {
                    featureType: "all",
                    stylers: [
                        { hue: "#123fff" },
                        { saturation: "-100" },
                        { lightness: "0" },

                    ]
                },
                {
                    featureType: "road",
                    stylers: [
                        { hue: "#123000" },
                        { saturation: "-100" }
                    ]
                }
            ];
    map.setOptions({styles: pinkParksStyles});
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': 'Івано-Франківськ, Січових Стрільців 30'}, function(results, status){
            if (status == google.maps.GeocoderStatus.OK){
                map.setCenter(results[0].geometry.location);
                var conf ={
                    map: map,
                    position: results[0].geometry.location};
                var marker = new google.maps.Marker(conf);
            }
        })
    };
    google.maps.event.addDomListener(window, 'load', init());
