.menu
  %nav
    %ul
      %li#home
        = active_link_to 'Home', root_path
      %li#work
        = active_link_to 'Works', works_path
      %li#studio
        = active_link_to 'Studio', studio_path
      %li#contact
        = active_link_to 'Contact us', contacts_path