.menu
  %nav
    %ul
      %li#home
        = active_link_to  t(:home), root_path
      %li#work
        = active_link_to t(:works), works_path
      %li#studio
        = active_link_to t(:studio), studio_path
      %li#contact
        = active_link_to t(:contacts), contacts_path